* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f3640;
  color: #00a8ff;
}

a {
  text-decoration: none;
  color: #00a8ff;
  transition: 0.4s;
}

a:hover {
  color: #f5f6fa;
}